<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <form action='/login' method='get'>
          <input type='text' name='username' placeholder='username'>
          <input type='password' name='password' placeholder='password'>
          <input type='submit' value='login'>
      </form>
  </body>
</html>
