<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='title'><%- htmlTitle %></div>
    <div class='body'><%- htmlBody %></div>
  </body>
</html>
